@model Application.Models.ApplicationRole

@{
    ViewBag.Title = "刪除權限";
    Layout = "~/Views/Shared/_AdminLte3.cshtml";
}


<h1 class="text-danger">⚠️確定要刪除權限  @Html.DisplayFor(model => model.Name) ? ⚠️</h1>
<p>刪除權限不會刪除相關帳號，但會將帳號的權限同步移除。</p>
<div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="col-12">
            <a class="btn btn-warning" href="@Url.Action("Index")"><i class="fas fa-arrow-left"></i>返回</a>
            <a class="btn btn-default" href="@Url.Action("Edit",new { id = Model.Id })"><i class="fas fa-pen"></i>編輯</a>
        </div>
    }
</div>
