@model Application.Models.ApplicationUser

@{
    ViewBag.Title = "刪除帳號";
    Layout = "~/Views/Shared/_AdminLte3.cshtml";
}



<h3 class="text-danger">⚠️你確定要刪除帳號 @Html.DisplayFor(model => model.UserName) 嗎? ⚠️</h3>
<div> 
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <a class="btn btn-warning" href="@Url.Action("Index")"><i class="fas fa-arrow-left"></i>返回</a>
            <button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i> 刪除</button>
        </div>
    }
</div>
